<app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>


<div class="c">
  <p>PLAY STATION 5</p>
  </div>


  <img src="https://cdn.vox-cdn.com/thumbor/gI7tqdzx4pI1PIIbHfRVeyq24mI=/0x0:2040x1148/1820x1024/filters:focal(857x411:1183x737):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/67694300/vpavic_4261_20201023_0058.0.jpg"alt="ps5" width="400px" height="300px">




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->