.a{
  
  border: 5px outset rgb(245, 243, 243);
  background-color: #bfe438;
  text-align: center;
  
  
}
.l{
  text-decoration: underline solid rgb(0, 225, 255) 15%;    
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/