<div class="a">
<h3>CONSOLES</h3>
</div >
<div class="l">
<img src="https://media.gettyimages.com/photos/teenager-playing-video-games-at-home-picture-id512366301?k=20&m=512366301&s=612x612&w=0&h=gp-x7A_VESle532IWyrO8B6s2BhBUPULjxmmqrtI9Gk=" width="600px" height="300px">
<div *ngFor="let p of products">
<h4> Available Consoles and Controller:<br>Model {{p.id}}:<a [title]="p.name+'model'">{{p.name}}
</a><br><h5 *ngIf="p.description">Description:{{p.description}}</h5></h4>
<button type="button"(click)="cart()">Cart</button>
<button type="button"(click)="share()">Share</button>



</div>






<button type="button"(click)="buy()">Buy</button>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->